icon ICON "IconServer.ico"
1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "Laszlo Bozzay"
      VALUE "FileDescription", "Paint Arena Dedicated Game Server"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "Server"
      VALUE "LegalCopyright", "Laszlo Bozzay"
      VALUE "OriginalFilename", "Server.exe"
      VALUE "ProductName", "Paint Arena Dedicated Server"
      VALUE "ProductVersion", "1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END